section{
  background-color: #0D2230;
  padding:60px 0px;
}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-transform: uppercase;
  color: #F9F8F7;
}
.item img{
  max-width: 155px;
}
.item div{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5px;
}
.wineBrand{
  font: 500 0.875rem/1.2rem 'Lora', serif;
}
.wineName{
  font: 700 1.25rem/1.2rem 'Montserrat', sans-serif;
  max-width: 25ch;
}
.wineGrape{
  font: 500 0.875rem/1.2rem 'Montserrat', sans-serif;
}